:root{
    --dark: #0F1722;
    --bg: #B3C9E0;
    --button-color: #6CA0CB;
    --button-hover-color: #b1b5e9;
    --light: #f1f1f1;
}


/* Remove spinner from Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    text-align: right;
}

#main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height:80vh;
}

#calculator_main{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 20rem;
    height: 28rem;
    padding: 2rem 2rem 1rem 2rem;
    margin-top: 6rem;
    background-color: var(--bg);
    border: 6px solid var(--dark);
    border-radius: 1rem;
}

.display_container{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 22rem;
    margin: 1rem 2rem 1.5rem 2rem;
    border: 4px solid var(--dark);
    border-radius: 1rem;
}

.result_display_container{
    display: flex;
}  

#del{
    height: 3.5rem;
    width: 4.8rem;
    margin: 0.5rem 0rem 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    border: 4px solid silver;
    border-radius: 0.5rem;
    padding: 0 0 5px 2px;
    background-color: var(--button-hover-color);
}

#del:hover{
    background-color: var(--light);
}


#result_display{
    width: 14rem;
    height: 3rem;
    font-size: 1.5rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
    background-color: rgb(238, 238, 238);
    border-radius: 0.5rem;
}



/* #operation_display{
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
    margin: 0rem 1rem 0.5rem 1rem;
    background-color: var(--button-hover-color);
    border-radius: 0.5rem;
} */

.panel1{
    display: flex;
    flex-direction: column;
}

.number_pad {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0rem 0rem 2rem 0rem;
    padding-left: 1rem;
    border: 4px solid var(--dark);
    width: 18rem;
    border-radius: 0.5rem;   
}

.advanced_controls{
    display:flex;
    width: 12.5rem;
    justify-content: space-between;
}

.lower_pad{
    display: flex;
    width: 16.5rem;
}

.operation_inputs{
    display: flex;
    flex-direction: column;
    margin-left: 3px;
}

.number_row{
    width: 12.5rem;
}

.number_button,
.operation_button,
.advanced_controls button{
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    margin: 0.5rem;
    padding:0;
    background-color: var(--button-color);
    border: 4px solid var(--dark);
    border-radius: 0.5rem;
}

.advanced_controls button{
    background-color: var(--button-hover-color);
}

.operation_button{
    filter:brightness(130%);
}

.number_button:hover,
.operation_button:hover,
.advanced_controls button:hover{
    background-color: var(--light);

}

#n0.number_button{
    width: 7.25rem;
}

